<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1057575457490-j7cck8pnkn46s6fachg28qd58ortmgma.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1057575457490-j7cck8pnkn46s6fachg28qd58ortmgma</string>
	<key>API_KEY</key>
	<string>AIzaSyCPHj60wRCTT3vHU9UlIzrK8BMHggHGik8</string>
	<key>GCM_SENDER_ID</key>
	<string>1057575457490</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.miaged</string>
	<key>PROJECT_ID</key>
	<string>tp-miaged-c1e57</string>
	<key>STORAGE_BUCKET</key>
	<string>tp-miaged-c1e57.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1057575457490:ios:395a6472a5061894b0930b</string>
</dict>
</plist>